# GADM table code

- The aim of this script is to automatize the process we do everythime we want to extract the GADM layer and process it
Caspian sea

USE LEVEL 1
jamur and kasmir IND & PKS
ilemi triangle SSUD
hala triangle SUDAN and EGY

1. toma el valor de GID
2. a√±adele a GID el valor que se ha ido contando sobre el

UNFINISHED

In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

file= r"C:\Users\ruben.crespo\Documents\03_tests\administrative_units\06_final_GADM\gadm_adm_lev0_ruben_1.shp"

In [3]:
# open file
gadm_gdf = gpd.read_file(file)
#read the column titles
gdf.columns

Index(['Shape_Area', 'Country_n', 'GID_unik', 'fd', 'GID', 'geometry'], dtype='object')

How to concatenate data: https://datatofish.com/concatenate-values-python/

**Note for myself.** There is no way to concatenate a str and an int together

In [15]:
# add test column and concatenate the GID with an acumulative number grouped by the GID value
gdf["test"] = gdf['GID'] + (gdf.groupby('GID').cumcount()+1).map(str)
gdf["test"]

0      ABW1
1      AFG1
2      AGO1
3      AIA1
4      ALA1
       ...
278    CHL3
279    CHL4
280    FJI1
281    FJI2
282    FJI3
Name: test, Length: 283, dtype: object

In [7]:

gdf[["test", "GID_unik","GID"]]
gdf.dtypes

Shape_Area     float64
Country_n       object
GID_unik        object
fd              object
GID             object
geometry      geometry
test            object
dtype: object

In [16]:

#gdf['test_list'] = gdf.groupby('GID')['test'].apply(list)
#https://stackoverflow.com/questions/17841149/pandas-groupby-how-to-get-a-union-of-strings
gdf['test_list'] = gdf.groupby('GID')['test'].apply(lambda x: x.sum())
gdf['test_list']
#gdf[["test", "test_list"]]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
278    NaN
279    NaN
280    NaN
281    NaN
282    NaN
Name: test_list, Length: 283, dtype: object

In [11]:
df = pd.DataFrame({'A': 'a a b'.split(), 'B': [1,2,3], 'C': [4,6, 5]})
g = df.groupby('A')
g.apply(lambda x: "{%s}" %  ', '.join(x))

A
a    {A, B, C}
b    {A, B, C}
dtype: object

In [ ]:
def func(row):
    if row['mobile'] == 'mobile':
        return 'mobile'
    elif row['tablet'] =='tablet':
        return 'tablet' 
    else:
        return 'other'

In [ ]:


for index, content in gdf.iterrows():   

    # get 'not disjoint' countries
    neighbors = gdf[~gdf.geometry.disjoint(content.geometry)].NAME.tolist()

    # remove own name of the country from the list
    neighbors = [ name for name in neighbors if content.NAME != name ]

    # add names of neighbors as NEIGHBORS value
    gdf.at[index, "NEIGHBORS"] = ", ".join(neighbors)
   
# save GeoDataFrame as a new file
gdf.to_file("c:/path/to/newfile.shp")