In [2]:
import pandas as pd
import glob
import os

In [12]:
def merge_vcs_all_years(vcs_files):
    for file in vcs_files:
        vcs = pd.read_csv(file, sep=';')
        vcs = vcs.rename(columns={'Unnamed: 0':"cid"})
        vcs_copy = vcs.copy()
        vcs.drop(columns=['name'], inplace=True)
        try:
            vcs_df = pd.merge(vcs_df, vcs, on = ["cid"])
        except:
            vcs_df = pd.DataFrame(vcs)

    vcs_df[sorted(vcs_df)]

    vcs_name = vcs_copy["name"]
    vcs_df = pd.concat([vcs_name, vcs_df], axis=1)
    return vcs_df

In [15]:
input_folder = r"C:\Users\ruben.crespo\Downloads\vegetation_carbon_stock_2001-2020"  # Update this with the path to your CSV files
output_file = os.path.join(input_folder,'combined_data.csv')    # The name of the output combined CSV file

In [16]:
csv_files = glob.glob(os.path.join(input_folder, '*.csv'))

combined_df = merge_vcs_all_years(csv_files)

combined_df.to_csv(output_file, index=False, sep=',')

In [14]:
combined_df.head()

,name,cid,2001_10,2001_100,2001_11,2001_110,2001_12,2001_120,2001_121,2001_122,...,2020_60,2020_61,2020_62,2020_70,2020_71,2020_72,2020_80,2020_81,2020_82,2020_90
0,Mozambique,0,1.022081e+07,2.849010e+07,2.121004e+07,4.259558e+06,5347.712945,6.760369e+08,0.0,1.942058e+07,...,1.809673e+09,1.100046e+08,1.909125e+09,0.000000e+00,0.0,0.0,115511.656096,0.0,0.0,1.294342e+06
1,Mauritius,1,6.512469e+04,0.000000e+00,4.451363e+05,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000,0.0,0.0,0.000000e+00
2,Malawi,2,4.176486e+06,7.385205e+06,2.424496e+07,6.994930e+05,331243.877667,8.868748e+06,0.0,4.456638e+06,...,1.474660e+08,3.165247e+06,1.209543e+08,0.000000e+00,0.0,0.0,0.000000,0.0,0.0,5.959810e+03
3,Rwanda,3,2.792193e+06,2.146818e+06,5.811519e+06,1.082002e+04,39053.080412,6.513416e+06,0.0,2.612544e+04,...,1.049381e+07,1.479056e+06,1.336359e+06,5.696467e+02,0.0,0.0,0.000000,0.0,0.0,0.000000e+00
4,Somalia,4,1.873820e+07,9.145853e+07,1.450452e+06,9.767107e+07,0.000000,1.625853e+09,0.0,9.259629e+04,...,1.304593e+07,1.874417e+05,5.552877e+07,9.986461e+06,0.0,0.0,0.000000,0.0,0.0,6.436255e+06

In [41]:
vcs.head()

,cid,2001_10,2001_100,2001_11,2001_110,2001_12,2001_120,2001_121,2001_122,2001_130,...,2001_60,2001_61,2001_62,2001_70,2001_71,2001_72,2001_80,2001_81,2001_82,2001_90
0,0,1.022081e+07,2.849010e+07,2.121004e+07,4.259558e+06,5347.712945,6.760369e+08,0.0,1.942058e+07,1.683521e+07,...,1.775072e+09,1.180502e+08,1.947661e+09,5.223715e+04,0.0,0.0,22378.388334,0.0,0.0,4.565100e+06
1,1,6.512469e+04,0.000000e+00,4.451363e+05,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000,0.0,0.0,0.000000e+00
2,2,4.176486e+06,7.385205e+06,2.424496e+07,6.994930e+05,331243.877667,8.868748e+06,0.0,4.456638e+06,1.463573e+06,...,1.392984e+08,3.212944e+06,1.174839e+08,0.000000e+00,0.0,0.0,0.000000,0.0,0.0,0.000000e+00
3,3,2.792193e+06,2.146818e+06,5.811519e+06,1.082002e+04,39053.080412,6.513416e+06,0.0,2.612544e+04,3.075576e+04,...,8.758780e+06,1.348104e+06,1.213840e+06,5.696467e+02,0.0,0.0,0.000000,0.0,0.0,0.000000e+00
4,4,1.873820e+07,9.145853e+07,1.450452e+06,9.767107e+07,0.000000,1.625853e+09,0.0,9.259629e+04,1.703432e+07,...,2.746435e+06,1.825362e+05,5.490062e+07,8.373111e+06,0.0,0.0,0.000000,0.0,0.0,4.957146e+06